
.dx-datagrid-container.dx-context-menu .dx-menu-items-container .dx-icon-context-menu-sort-asc::before, .dx-datagrid.dx-context-menu .dx-menu-items-container .dx-icon-context-menu-sort-asc::before {
    font-family: "icomoon";
    content: "\e900" !important;
    content: "\e901" !important;
    content: "\e902" !important;
}